schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="catalogo">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="jogo" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="titulo" type="xs:string"/>
							<xs:element name="consola" type="xs:string"/>
							<xs:element name="ano" type="xs:integer"/>
							<xs:element name="genero" type="xs:string"/>
							<xs:element name="produtora" type="xs:string"/>
						</xs:sequence>
						<xs:attribute name="id" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
